@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Patient

<h1 class="display-4">Add New Patient</h1>
<p>@Html.ActionLink("Back to Patient List", "Index")</p>

@using (Html.BeginForm())
{
    <p>@Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)</p>

    <p>@Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)</p>

    <p>@Html.Label("Select Doctor")</p> 

    <p>@Html.DropDownList("DoctorId", (MultiSelectList)ViewBag.Categories, new { multiple = "multiple", @class = "btn btn-secondary dropdown-toggle", })</p>

  <input type="submit" value="Add Patient" />
}


